* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper {
  border: 1px solid #000;
  background-color: #fff;
  width: 440px;
  color: #000;
  border-radius: 5px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.form {
  padding: 25px 30px;
}

.form header {
  font-size: 25px;
  font-weight: 700;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  text-align: center;
}

.form form {
  margin: 20px 0;
}

.form form .error-notification {
  color: #721c24;
  background-color: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  display: none;
}

.form form .field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form form .field i {
  color: #ccc;
  top: 67%;
  transform: translateY(-50%);
  position: absolute;
  right: 5px;
  padding: 10px 5px;
}

.form form .field i.active::before{
  content: "\f070";
  color: #000;
}

.form form .field input {
  outline: none;
}

.form form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form form .image input {
  font-size: 17px;
}

.form form .button input {
  margin-top: 10px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  background-color: #333;
  color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}

.form .login {
  margin: 10px 0;
  text-align: center;
  font-size: 17px;
}

.form .login a {
  color: #333;
}

.form .login a:hover {
  text-decoration: underline;
}

.user-dashboard {
  padding: 25px 30px;
}

.user-dashboard header, .user-list a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
}

.user-dashboard header .content img {
  height: 50px;
  width: 50px;
}

.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}

:is(.user-dashboard, .user-list) .content {
  display: flex;
  align-items: center;
}

:is(.user-dashboard, .user-list) .user-details {
  margin-left: 5px;
  color: #000;
}

:is(.user-dashboard, .user-list) .user-details span {
  font-size: 18px;
  font-weight: 700;
}

.user-dashboard header .logout {
  color: #f2f2f2;
  padding: 7px 15px;
  background-color: #000;
  font-size: 17px;
  border-radius: 5px;
}

.user-dashboard .user-search {
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.user-dashboard .user-search .search {
  font-size: 18px;
}

.user-dashboard .user-search input {
  position: absolute;
  height: 42px;
  width: calc(100% - 50px);
  border-radius: 5px 0 0 5px;
  padding: 0 13px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.user-dashboard .user-search input.active{
  opacity: 1;
  pointer-events: auto;
}

.user-dashboard .user-search button {
  width: 47px;
  height: 42px;
  border: none;
  outline: none;
  color: #000;
  background-color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 17px;
}

.user-dashboard .user-search button.active{
 color: #fff;
 background-color: #000;
}

.user-dashboard .user-search button.active i::before{
  content: "\f00d";
}
::is(.user-chat-box, .user-list)::-webkit-scrollbar {
  width: 0;
}

.user-list {
  height: 340px;
  overflow-y: auto;
}

.user-list a {
  padding-right: 15px;
  margin-bottom: 15px;
  page-break-after: 10px;
  border-bottom-color: #f2f2f2;
}

.user-list a .content p {
  color: #67676a;
}

.user-list a:last-child {
  border: none;
  margin-bottom: 0;
}

.user-list a .content img {
  height: 45px;
  width: 45px;
}

.user-list .user-status {
  font-size: 12px;
  color: #00D23E;
}

/*Use this class name for offline in php*/

.user-list .user-status.offline {
  color: #b0b0b0 !important;
}

/*============================================*/

.user-chat header {
  display: flex;
  align-items: center;
  padding: 18px 30px;
}

.user-chat header img {
  height: 45px;
  width: 45px;
  margin: 0 10px;
}

.user-chat header .user-back {
  font-size: 18px;
  color: #000;
}

.user-chat header span {
  font-size: 17px;
  font-weight: 700;
}

.user-chat-box {
  overflow-y: auto;
  height: 500px;
  background-color: #f7f7f7;
  padding: 10px 30px 20px 30px;
  box-shadow: 0 32px 32px -32px rgba(0, 0, 0 / 5%),
              0 -32px 32px -32px rgba(0, 0, 0 / 5%);
}

.user-chat-box .chat {
  margin: 15px 0;
}

.user-chat-box .chat p {
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1),
  0 16px 16px -16px rgba(0, 0, 0, 0.2);
}

.user-chat-box .outgoing {
  display: flex;
}

.outgoing .chat-details {
  margin-left: auto;
  max-width: calc(100% - 130px);
}

.outgoing .chat-details p {
  background-color: #000;
  color: #f2f2f2;
  border-radius: 18px;
}

.user-chat-box .incomming{
  display: flex;
  align-items: flex-end;
}

.user-chat-box .incomming img {
  height: 35px;
  width: 35px;
}

.incomming .chat-details p {
  color: #333;
  background-color: #fff;
  border-radius: 18px;
}

.incomming .chat-details {
  margin-left: 10px;
  margin-right: auto;
  max-width: calc(100% - 130px);
}

.user-chat .typing-area{
  padding: 18px;
  display: flex;
  justify-content: space-between;
}

.typing-area input{
  height: 45px;
  width: calc(100% - 58px);
  font-size: 17px;
  border: 1px solid #ccc;
  padding: 0 13px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.typing-area button{
  width: 55px;
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.typing-area .send-icon{
  font-size: 20px;
}